
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @character.name %></title>
    <link rel="icon"
      type="image/png"
      href="./favicon.ico" />
  </head>
  <body>
    <h1><%= @character.name %></h1>
    <h1><%= @character.actor.name %></h1>
    <h1><%= @character.tv_show.name %></h1>
  </body>
</html>
